@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-size: 16px;
}

html, body {
  color: #2d2c3a;
  background-color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
  width: 100%;
  height: 100%;
}

a {
  color: rgb(59, 38, 241);
  font-weight: bold;
  text-decoration: none;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}

a:hover {
  color: rgb(38, 126, 241);
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 0.5rem;
}

p {
  padding: 4px 0;
  line-height: 1.1rem;
  display: inline-block;
}

#root {
  background: #292b30;
}